.order-icon-claim {
	color: #dc3545 !important;
}

.order-icon-econom {
	color: #6c757d !important;
}

.order-icon-paid {
	color: #198754 !important;
}

.order-icon-plate {
	color: #fd7e14 !important;
}